name: Build
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    permissions:
      contents: write
    env:
      # https://github.com/actions/setup-node/issues/531
      SKIP_YARN_COREPACK_CHECK: true
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: corepack enable
      - run: yarn --immutable
      - run: yarn build
      - run: yarn workspace @ezshare/electron publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
