name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      # https://github.com/actions/setup-node/issues/531
      SKIP_YARN_COREPACK_CHECK: true
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: corepack enable
      - run: yarn --immutable
      - run: yarn dedupe --check
      - run: yarn build
      - run: yarn test
      - run: yarn lint
